.container {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.container table {
  padding-top: 30px;
}
.container table input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 250px;
}
.container button {
  height: 50px;
  width: 200px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
